@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
.need-top{
    margin-top:100px;
    padding:0 40px 0 40px;
}
.money{
    font-family: 'Playfair Display', serif;
    font-size:24px;
    color:darkgoldenrod;
}
#book_zone{
    width:100%;
}